.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;

    border: 1px solid var(--primary-color);
    border-radius: 15px;
}

.testimonial img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--text-color-dark);
}

.testimonial h5 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}