:root {
  --primary-color: #495e57;
  --primary-color--700: #364641;
  --secondary-color: #F4CE14;
  --text-color--white: #FEFEFE;
  --text-color-dark: #111;
  --danger: #FF0000;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
}

.navlink__white {
  color: white;
  text-decoration: none;

  cursor: pointer;
}

.cta-btn {
  width: 100%;
  padding: 10px 15px;

  background-color: var(--secondary-color);
  border-radius: 15px;

  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;

  cursor: pointer;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.container-child {
  padding-left: 10%;
  padding-right: 10%;
}

.article-container {
  display: block;
  flex-wrap: unset;
  justify-content: unset;
  gap: unset;
}

.article-container>article {
  width: 100%;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  text-align: left;
}

form {
  display: grid;
  margin: 20px 15px;
  gap: 15px
}

.field-container>* {
  width: 100%;
}

label {
  margin-bottom: 5px;
  
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

input,
select {
  padding: 2.5px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  
  font-size: 1.25rem;
  color: black;
}

input.error,
select.error {
  border-color: var(--danger);
}

.error {
  color: var(--danger);
}

select.error {
  color: black;
}

@media screen and (min-width: 640px) {
  .full-width {
    width: 100vw;
    margin-left: calc(-100vw / 2 + 640px / 2);
    margin-right: calc(-100vw / 2 + 640px / 2);
    padding-left: calc((100vw - 640px) / 2) !important;
    padding-right: calc((100vw - 640px) / 2) !important;
  }

  .container-child {
    padding-left: unset;
    padding-right: unset;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .full-width {
    width: 100vw;
    margin-left: calc(-100vw / 2 + 768px / 2);
    margin-right: calc(-100vw / 2 + 768px / 2);
    padding-left: calc((100vw - 768px) / 2) !important;
    padding-right: calc((100vw - 768px) / 2) !important;
  }

  .cta-btn {
    max-width: fit-content;

    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .full-width {
    width: 100vw;
    margin-left: calc(-100vw / 2 + 1024px / 2);
    margin-right: calc(-100vw / 2 + 1024px / 2);
    padding-left: calc((100vw - 1024px) / 2) !important;
    padding-right: calc((100vw - 1024px) / 2) !important;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  .article-container>article {
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .full-width {
    width: 100vw;
    margin-left: calc(-100vw / 2 + 1280px / 2);
    margin-right: calc(-100vw / 2 + 1280px / 2);
    padding-left: calc((100vw - 1280px) / 2) !important;
    padding-right: calc((100vw - 1280px) / 2) !important;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .full-width {
    width: 100vw;
    margin-left: calc(-100vw / 2 + 1536px / 2);
    margin-right: calc(-100vw / 2 + 1536px / 2);
    padding-left: calc((100vw - 1536px) / 2) !important;
    padding-right: calc((100vw - 1536px) / 2) !important;
  }
}