nav {
    width: 100%;
    background: var(--primary-color);
}

.topbar {
    padding: 10px 0;
}

.topbar > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;

    list-style: none;
}

